.resume {
    background: linear-gradient(to right, #7A0BC0, #FF69B4);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 300ms;
}

.resume:hover {
    background-image: linear-gradient(to right, #6c5ce7, #FF69B4);
    transform: scale(1.05);
}



