<div class="main-container pt-5" id="contect">
    <h1 class="text-center fw-bold pt-4" style="font-size: 2rem;">Contect <span class="text-primary">Me!</span></h1>
    <div class="row m-0 d-flex justify-content-center py-3">
        <div class="col-sm-6 d-flex flex-column gap-3">

            <form>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control glowing-input" id="fullName" placeholder="Full Name">
                            <label for="fullName">Full Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" class="form-control glowing-input" id="emailAddress"
                                placeholder="Email Address">
                            <label for="emailAddress">Email Address</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="tel" class="form-control glowing-input" id="mobileNumber"
                                placeholder="Mobile Number">
                            <label for="mobileNumber">Mobile Number</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control glowing-input" id="emailSubject"
                                placeholder="Email Subject">
                            <label for="emailSubject">Email Subject</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <textarea class="form-control glowing-input" placeholder="Your Message" id="yourMessage"
                            style="height: 150px"></textarea>
                        <label for="yourMessage">Your Message</label>
                    </div>
                </div>
                <div class="d-grid justify-content-center">
                    <button type="submit" class="btn btn-primary ">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>