
<div class="main-container pt-5 bg-black" id="about">
    <h1 class="text-center fw-bold pt-3">About <span class="text-primary">Me</span></h1>
    <div class="row m-0 d-flex justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center"><img
                src="../../../assets/images/ChatGPT_Image_Apr_8__2025__11_14_09_AM-removebg-preview.png" alt="About img"
                class="img-fluid ">
        </div>
        <div class="col-sm-4">
            <div class="py-2">
                <h2 class="font-bold">Frontend Developer</h2>
                <p class="text-white">Frontend Developer skilled in building responsive and
                    interactive web applications using React.js. Passionate about creating seamless
                    user experiences and writing clean, efficient code.
                </p>
            </div>
            <div class="py-2">
                <h2 class="font-bold">Database Developer</h2>
                <p class="text-white">Database Developer specializing in designing, optimizing, and
                    managing scalable database systems. Proficient in SQL, NoSQL, and performance
                    tuning to ensure efficient data handling and system performance.</p>
            </div>
            <div class="py-2">
                <h2 class="font-bold">Backend Developer</h2>
                <p class="text-white">Backend Developer specializing in building and maintaining
                    robust server-side applications using backend languages such as Node.js, Python,
                    and Java. Experienced in API development, database management, and optimizing
                    system performance.</p>
            </div>
        </div>
    </div>
</div>