<div class="main-container pt-5" id="education">
    <h1 class="text-center fw-bold pt-4" style="font-size: 2rem;">My <span class="text-primary">Journey</span></h1>
    <div class="row m-0 d-flex justify-content-evenly py-2">

        <div class="col-sm-4">
            <h2 class="fw-bolder text-start">Education</h2>
            <div class="d-flex flex-column gap-3">
                <div class="border border-2 border-primary rounded rounded-2 px-3 py-1 education-item">
                    <h2>BTech: (2024-2026)</h2>
                    <p>I'm Currently pursuing BTech in computer science & engineering, from Maryland Institute of
                        technology & Management Galudih Jamshedpur Jharkhand.
                    </p>
                    <h3>CGPA: 7.6</h3>
                </div>
                <div class="border border-2 border-primary rounded rounded-2 p-3 education-item">
                    <h2>Intermediate: (2020-2022)</h2>
                    <p>I have completed my intermediate in science from Jamshedpur Worker's College.</p>
                    <h3>Percentage: 74.8%</h3>
                </div>
                <div class="border border-2 border-primary rounded rounded-2 p-3 education-item">
                    <h2>Schooling: (2010-2020)</h2>
                    <p>I have completed my schooling from Sidhu Kanu Siksha Niketan High School Dimna Jamshedpur
                        Jharkhand.
                    </p>
                    <h3>Percentage: 76.8%</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <h2 class="fw-bolder text-start">Experiences</h2>
            <div class="border border-2 border-primary rounded rounded-2 p-3 experience-item">
                <h2>Internship</h2>
                <ol>
                    <li>
                        <ul>
                            <li>Web Development: July 2024 - September 2024</li>
                            <li>From: Generix Infotech Pvt Ltd, Sakchi Jamshedpur</li>
                            <li>Languages Used:
                                <ul>
                                    <li>Frontend: HTML, CSS, JS</li>
                                    <li>Backend: PHP</li>
                                    <li>Database: MySQL</li>
                                </ul>
                            </li>
                            <li>Website: "MyMart" an e-comm website</li>
                        </ul>
                    </li>
                    <li class="py-4">
                        <ul>
                            <li>Web Development: August 2024 - September 2024</li>
                            <li>From: TechnoHack (Online)</li>
                            <li>Languages Used:
                                <ul>
                                    <li>Frontend: HTML, CSS, JS</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>