<div class="pt-5" id="home">

<div class="row m-0 text-white d-flex justify-content-between p-4">
    <div class="col-sm-6 pt-10">
        <h1 class="fw-bold p-4">Hello I'm <span class="text-purple">{{text}}</span></h1>
        <p class="px-4">A passionate software developer creating efficient scalable and user-friendly solution with
            cutting edge technologies</p>
        <a href="../../../assets/documents/Prakash Mandal CV.pdf" download="Prakash Mandal CV.pdf" class="download_CV text-decoration-none ms-3">
        <i class="fa-solid fa-download"></i>Download CV</a>
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
            <!-- <img src="../../../assets/images/prakash_gibhli2-removebg-preview.png" alt="prakash image" class="rounded rounded-3"> -->
    </div>
</div>

</div>
