<div class="main-container pt-3" id="projects">
    <h1 class="text-center fw-bold pt-4" style="font-size: 2rem;">My <span class="text-primary">Projects</span></h1>
    <div class="row m-0 justify-content-center">
        <div class="col-sm-9 col-12 d-flex gap-2 overflow-x-scroll ">
            <app-project-card 
                [bannerImage]="blogImage"
                title="E-comm website (My-mart)"
                text="My-Mart is your one-stop online shopping destination for all your daily needs. We offer a wide range of products, including fresh produce, groceries, electronics, fashion, and more. With a user-friendly interface, fast shipping, and competitive prices, My-Mart makes online shopping easy and convenient."
                [link]="myMartLink">
            </app-project-card>
            <app-project-card 
                [bannerImage]="blogImage" 
                title="E-comm website (My-mart)"
                text="My-Mart is your one-stop online shopping destination for all your daily needs. We offer a wide range of products, including fresh produce, groceries, electronics, fashion, and more. With a user-friendly interface, fast shipping, and competitive prices, My-Mart makes online shopping easy and convenient."
                [link]="myMartLink">
            </app-project-card>
            <app-project-card 
            [bannerImage]="blogImage" 
            title="E-comm website (My-mart)"
            text="My-Mart is your one-stop online shopping destination for all your daily needs. We offer a wide range of products, including fresh produce, groceries, electronics, fashion, and more. With a user-friendly interface, fast shipping, and competitive prices, My-Mart makes online shopping easy and convenient."
            [link]="myMartLink">
        </app-project-card>
        </div>
    </div>
</div>
