footer {
  background-color: #001400;
}

h1 {
  font-size: 2rem;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  h1 {
      font-size: 1.7rem;
  }
  footer p{
      font-size: 0.9rem;
  }

}

@media (max-width:320px){
  footer p{
      font-size: 0.8rem;
  }
}
